

.content__motivation{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: rgb(52, 156, 157);
    color: #fdfdfd;
    height: 100%;
}


.content__motivation .text{
    padding: 150px 50px 80px 100px;
    text-align: justify;

}

.content__motivation p {
    padding-top: 20px;
    font-weight: bold;
    width: 80%; /* Establecer el ancho del párrafo al 50% */
}

@media (max-width: 1210px) {
    .content__motivation p {
        width: 100%; /* En dispositivos más pequeños, ocupar toda la pantalla */
    }
}
.content__motivation .motivation__logo img{

    width: 600px;

    margin-top: 80px;

    padding-bottom: 50px;

 /*   border-radius: 0px 0px 0px 80px;*/
 }


 .content__motivation .motivation__logo {

     margin-right: 100px;


  }

 .line{
     width: 51px;
     height: 5px;
     background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
 }

@media (max-width: 1210px){
    .content__motivation{
        flex-direction: column;
    }

    .content__motivation p{
        padding-bottom: 20px;
    }
    .content__motivation .motivation__logo {

       margin: auto auto auto auto;
       display: block;

    }

    .content__motivation .motivation__logo img{

        margin-right: 0 px;


     }

    .content__motivation .text{
        padding: 50px 100px 0px 100px;


    }

    .motivation_grid .grid-container {
        gap: 20px;
    }
}

@media (max-width: 921px){
    .motivation_grid .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }



}

@media (max-width: 800px){
    .motivation_grid .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .motivation_grid .grid-container .grid__item img{
        width: 80%;
        height: 400px;
    }
    .content__motivation .motivation__logo img{
        width: 300px;
        height: 400px;

     }


}


@media (max-width: 400px){

    .content__motivation .motivation__logo img{
        width: 200px;
        height: 300px;

     }

    .content__motivation .text h1{
        font-size: 30px;
    }

    .content__motivation .text{
        padding: 50px 10px 0px 10px;
    }
}







/* GRID  */
.motivation_grid{
    margin: 10px 60px 40px 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    background-color: white;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.grid__item{

  margin: 5px;
  font-weight: bold;
  padding: 30px;


  align-items: center;
  align-self: center;
  text-align: center;
}

.grid__item h2{
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
    text-align: center;
    font-size: 35px;
}


.grid__item p{

    padding:  20px;
    margin-top: 30px;
    border: 1px solid #000;
    text-align: justify;
}
.motivation_grid .grid-container img{
    width: 100%;
    height: 300px;
    border-radius: 50px;
}

.button__link{

    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 25px;
    background: rgb(6, 6, 15);
    border: none;
    outline: none;
    border: 2px solid rgb(56, 181, 190);
    cursor: pointer;
    color: rgb(56, 181, 190);
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
    text-align: center;
}
.button__link2{

    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 25px;
    background: rgb(56, 181, 190);
    border: none;
    outline: none;
    border: 2px solid rgb(56, 181, 190);
    cursor: pointer;
    color: rgb(56, 181, 190);
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
    text-align: center;
}

.button__link:hover{
    background: rgb(56, 181, 190);
    color: rgb(254, 254, 254);
    border: 2px solid rgb(255, 255, 255);
}



/* SLIDER  */

.content_swiper{
    background-color: rgb(221, 225, 234);
}

.content_swiper .swiper {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
   text-align: center;
   padding: 100px;
}

.swiper .swiper-slide{
    padding-left: 100px;
    padding-right: 100px;
}

.content_swiper .swiper .swiper-button-prev{
    --swiper-navigation-size: 20px;
    color: rgb(196, 196, 196);
    background-color: transparent;
    height: 50px;
    width: 40px;


    border-radius: 8px;
    transition: opacity 0.3s;
    margin-left: 100px;
}
.content_swiper .swiper .swiper-button-prev:hover{
    opacity: 1;

}
.content_swiper .swiper .swiper-button-next{
    --swiper-navigation-size: 20px;
    color: rgb(196, 196, 196);
    background-color: transparent;
    height: 50px;
    width: 40px;


    border-radius: 8px;
    transition: opacity 0.3s;
    margin-right: 100px;
}
.content_swiper .swiper .swiper-button-next:hover{
    opacity: 1;

}

.swiper-pagination{
    margin-bottom: 30px;
    background: transparent;

}

.swiper-scrollbar{
    margin-bottom: 20px;
    background: transparent;
}

.swiper-pagination{
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: black;
    --swiper-pagination-bullet-inactive-opacity: 0.22;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;

}

.swiper-pagination-bullet{
    box-shadow: inset 0 0 0 1px #fff;
}

.swiper-pagination-bullet-active{
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.25);
}

.content_swiper .swiper .swiper-wrapper .swiper-slide  h1{
    font-size: 40px;
    padding-bottom: 10px;
}

.content_swiper .swiper .swiper-wrapper .swiper-slide  h4{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.content_swiper .swiper .swiper-wrapper .swiper-slide  p{
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

.content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_start{
    padding-right: 400px;
    font-size: 50px;
}
.content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
    padding-left: 400px;
    font-size: 50px;
}

@media screen and (max-width: 848px){
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_start{
        padding-right: 300px;

    }
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
        padding-left: 300px;

    }

}

@media screen and (max-width: 745px){
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_start{
        padding-right: 200px;

    }
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
        padding-left: 200px;

    }

}


@media screen and (max-width: 660px){

    .content_swiper .swiper {

       padding: 20px 0px 20px 0px;


    }
    .content_swiper .swiper .swiper-button-prev{

        margin-left: 10px;
    }

    .content_swiper .swiper .swiper-button-next{
        margin-right: 10px;
    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  h1{
        font-size: 20px;

    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  h4{
        font-size: 15px;

    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  p{
        font-size: 15px;

    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_start{

        font-size: 25px;
    }
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{

        font-size: 25px;
    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_start{
        padding-right: 300px;

    }
    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
        padding-left: 270px;

    }

}

@media screen and (max-width: 451px){

    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
        padding-left: 200px;

    }
}

@media screen and (max-width: 390px){

    .content_swiper .swiper .swiper-wrapper .swiper-slide  .icon_end{
        padding-left: 100px;

    }
}

@media screen and (max-width: 280px){


    .content_swiper .swiper .swiper-wrapper .swiper-slide  h1{
        font-size: 20px;

    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  h4{
        font-size: 10px;

    }

    .content_swiper .swiper .swiper-wrapper .swiper-slide  p{
        font-size: 10px;

    }


}


