.content__team {
    background-color: black;



    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.line{
    width: 20%;
    height: 5px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}

.content__team .team__logo{
    margin-top: 150px;
}
.content__team .team__logo img {
    width: 60%;
    height: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.content__team .text{
    padding-top: 100px;
    text-align: initial;
    margin-left: 100px;
    color: white;
    width: 50%;
}

.content__team h1{
    padding-top: 20px;
    font-weight: bold;
}

.button__start{

    width: 200px;
    height: 50px;

    margin-top: 25px;
    background: rgb(56, 181, 190);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
}

.button__start:hover{
    background: rgb(255, 255, 255);
    color: rgb(56, 181, 190);
}



@media (max-width: 1213px){
    .content__team {
        height: 100%;
        flex-direction: column;
    }
    .line{
        margin-top: 50px;
    }
    .content__team .team__logo{
        margin-top: 10px;
    }
}




@media (max-width: 853px){
    .content__team .team__logo img{
        margin-left: 20%;
    }
    .content__team .text{
        margin-left: 8%;
    }
}

@media (max-width: 565px){
    .content__team h1{
        font-size: 25px;
    }
    .content__team .text{
        margin-left: 10px;
    }
    .button__start{

        width: 150px;
    }
}

.team_grid{
    margin: 40px 60px 40px 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    background-color: white;
    place-items: center;

}

.grid__item{

  margin: 5px;
  font-weight: bold;
  padding: 30px;
  border: 1px solid #000;

  align-items: center;
  align-self: center;
  text-align: justify;
}

.grid__item h3{
    color: rgb(56, 181, 190);
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}



.team_grid .grid-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.button__link{

    width: 200px;
    height: 50px;

    margin-top: 25px;
    background: rgb(253, 253, 253);
    border: none;
    outline: none;
    border: 2px solid rgb(56, 181, 190);
    cursor: pointer;
    color: rgb(56, 181, 190);
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
}

.button__link:hover{
    background: rgb(56, 181, 190);
    color: rgb(254, 254, 254);
    border: 2px solid rgb(255, 255, 255);
}


@media (max-width: 1061px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team_grid .grid-container img{

        height: 250px;
    }
}

@media (max-width: 713px){
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team_grid .grid-container img{

        height: 400px;
    }
}
